<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>

	<application>
		<service
			android:name=".BackupDataService"
			android:exported="false"
			android:foregroundServiceType="dataSync"
			/>
	</application>
</manifest>