<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<application>
		<activity android:name="my.noveldokusha.features.reader.ReaderActivity" />

		<service
			android:name="my.noveldokusha.features.reader.services.NarratorMediaControlsService"
			android:exported="false"
			android:foregroundServiceType="mediaPlayback"
			>
			<intent-filter>
				<action android:name="android.intent.action.MEDIA_BUTTON" />
			</intent-filter>
		</service>

		<receiver
			android:name="androidx.media.session.MediaButtonReceiver"
			android:exported="true"
			>
			<intent-filter>
				<action android:name="android.intent.action.MEDIA_BUTTON" />
			</intent-filter>
		</receiver>
	</application>
</manifest>