<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

	<application
		android:name=".App"
		android:allowBackup="true"
		android:icon="@mipmap/ic_logo"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_logo_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme.Light"
		>
		<activity
			android:name=".features.main.MainActivity"
			android:exported="true"
			android:theme="@style/AppTheme.Launcher"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/epub+zip" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:mimeType="application/epub+zip" />
				<data android:scheme="content" />
				<data android:scheme="file" />
			</intent-filter>
		</activity>

		<provider
			android:name="androidx.startup.InitializationProvider"
			android:authorities="${applicationId}.androidx-startup"
			android:exported="false"
			tools:node="merge"
			>
			<!-- Remove and manually initialize with Configuration.Provider
				 so we can inject a custom worker factory.
			-->
			<meta-data
				android:name="androidx.work.WorkManagerInitializer"
				android:value="androidx.startup"
				tools:node="remove"
				/>
		</provider>

	</application>

</manifest>