<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="my.noveldokusha.ui.DebugGoToReader"
            android:exported="true" />
        <activity
            android:name="my.noveldokusha.ui.DebugGoToChapters"
            android:exported="true" />
    </application>
</manifest>