name: Publish Release

on:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

jobs:
  buildRelease:
    name: Build Release APK
    runs-on: ubuntu-20.04
    steps:
      - name: Clone repo
        uses: actions/checkout@v2

      - name: Set up JDK enviroment
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 11

      - name: Setup Python enviroment
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Setup Gradle version to 7.3.3
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.3.3

      - name: Setup APK signing
        run: |
          echo -n ${{ secrets.SIGNING_KEY }} | base64 -d > app/storeFile.jsk
          echo storeFile=storeFile.jsk > custom.properties
          echo storePassword=${{ secrets.KEY_STORE_PASSWORD }} >> custom.properties
          echo keyAlias=${{ secrets.ALIAS }} >> custom.properties
          echo keyPassword=${{ secrets.KEY_PASSWORD }} >> custom.properties

      - name: Build app
        run: |
          gradle assembleRelease -PlocalPropertiesFilePath=custom.properties

      - name: Create apk env info entries, move APK
        run: |
          python .github/build_scripts/extract_info.py

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          name: NovelDokusha v${{ env.APP_VERSION }}
          tag_name: v${{ env.APP_VERSION }}
          files: |
            ${{ env.APK_FILE_PATH_full }}
            ${{ env.APK_FILE_PATH_foss }}
